<footer class="footer py-4 mt-auto bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center text-lg-start">Copyright &copy; IQB Solutions 2025</div>
      <div class="col-lg-4 my-3 my-lg-0 text-center">
        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/company/iqb-solutions/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <!-- Diğer sosyal medya linkleri buraya eklenebilir -->
      </div>
      <div class="col-lg-4 text-center text-lg-end">
        <a class="link-dark text-decoration-none me-3" routerLink="/gizlilik-politikasi">Gizlilik Politikası</a>
        <a class="link-dark text-decoration-none" href="#!">Kullanım Şartları</a>
      </div>
    </div>
  </div>
</footer>
