<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-5 mb-4">Entegre Yönetim Sistemi Politikası</h1>
      <p class="lead">
        IQB Solutions Entegre Yönetim Sistemleri Politikası aşağıda yer alan amaçları taahhüt etmektedir.
      </p>
      <hr class="my-4">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Müşteri memnuniyetinin ve hizmet kalitesinin sürekliliğini sağlamayı, sürekli iyileştirilmesi için çözüm odaklı ve öngörülü hareket etmeyi,</li>
        <li class="list-group-item">Etkili bir liderlik, sorumlu ve katılımcı bir yönetim anlayışı ile Kalite Yönetim Sistemi’nin şartlarına uymayı ve çalışanların katılımı ile etkinliğini sürekli iyileştirmeyi sağlamayı,</li>
        <li class="list-group-item">İçinde bulunduğumuz toplumun yaşam kalitesini iyileştirmeye yönelik projelere destek vermeyi, oluşturmayı ve gerçekleştirmeyi,</li>
        <li class="list-group-item">Çalışanlarımızın bireysel hedefleri ile şirket hedefleri arasında yön birliği sağlamayı, birlik ve beraberlik duygusunu geliştirmek ve en üst düzeyde tutmayı, motivasyonu yüksek ve aidiyet duygusu pekişmiş insan kaynağı oluşturmasını sağlamayı,</li>
        <li class="list-group-item">Tüm çalışanlarımızı mesleki eğitim ve kişisel gelişim programları ile destekleyerek kendilerini sürekli geliştirmelerini ve verimliliklerini artırmalarını sağlamasını,</li>
        <li class="list-group-item">İç müşteri olan çalışanların önerilerini önemsemek, çözüm önerileri ile birlikte değerlendirmek ve hayata geçirilmesi onaylanan öneriler için çalışma grupları planlamasını,</li>
        <li class="list-group-item">Şikâyet, talep ve önerilerde çözüme yönelik kalıcı iyileştirmeleri sisteme entegre ederek iş süreçlerinde uygulanmasının sağlanmasını,</li>
        <li class="list-group-item">Bilginin gizliliği ve doğruluğu korunmasını ve bilginin yetkisiz kişilere kasten veya dikkatsizlik sonucu veri sızıntısı olmaması için üst düzey önlem alınmasını,</li>
        <li class="list-group-item">Bilgiye gereksinim duyulduğunda yetkili kullanıcıların erişimine hazır bulundurulmasını,</li>
        <li class="list-group-item">Tüm çalışanların bilgi güvenliği farkındalığına sahip olmalarının sürekli olarak sağlanmasını,</li>
        <li class="list-group-item">Tüm açıklar için önlemler alınması,</li>
        <li class="list-group-item">Çözüm ortağı veya iş birliği yapılan paydaşlarla yürütülen faaliyetlerde Bilgi Güvenliği Prosedürleri’ne uygun olarak hareket edilmesi sağlanması,</li>
        <li class="list-group-item">Bilgi varlıklarının sahip olduğu muhtemel risklerin yönetimi, varlıkların bütünlük – gizlilik – erişilebilirlik durumu sürekli iyileştirilmesini ve çalışmaların performansı ölçülmesinin sağlanmasını,</li>
        <li class="list-group-item">IQB Solutions’a ait varlık envanterinde belirlenmiş olan kimlik bilgileri, müşteri bilgileri, yazılım paketleri, sunucular vb. bilgiler koruma altında olan varlıklar ve varlık envanteri ile takip edilmeleri taahhüt edilir.</li>
      </ul>
    </div>
  </div>
</div>
