<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-5 mb-4">Biz Kimiz?</h1>
      <p class="lead">
        Daha iyi bir yarına katkıda bulunmak için çığır açan fikirlere sahip genç ve yetenekli bir grubuz. En son teknolojilerle yüksek kaliteli, güvenilir, hızlı ve ölçeklenebilir çözümler sunuyoruz. Çeşitli sektörlerde <strong>Büyük Veri</strong>, <strong>IoT</strong> uygulamaları ile <strong>Dijital Dönüşüm Çözümlerinde</strong> derin deneyime sahibiz.
      </p>
      <p>
        Her büyüklükteki şirketler için <strong>akılcı çözümler</strong> ve <strong>benzersiz hizmetler</strong> üretiyoruz. Doğru analiz ve üstün teknolojik çözümlerin şirketleri <strong>başarılı bir geleceğe</strong> yönlendirebileceğine inanıyoruz.
      </p>

      <h3 class="mt-5">Başarımızın Sırrı: Mühendislik, Mükemmellik ve Heyecan</h3>
      <p>
        IQB’nin yenilikçi çığır açan ürünleri, IQB ekibinin güncel <strong>son teknoloji</strong> ve <strong>sektörel bilgisi</strong> ile yaptığı <strong>Ar-Ge yatırımlarının</strong> sonucudur. Ayrıca süreç tasarımı ve etkin çözümler için müşterilerimizin ekipleriyle de çok yakın çalışıyoruz.
      </p>
      <p>
        Yenilikçi önerilerimiz ile müşterilerimizde tüm süreci baştan birlikte dizayn ediyor, <strong>etkinlik ve verimlilik artışı</strong> sağlıyoruz. Müşterilerimizin <strong>bilgi birikimi</strong>, IQB ekibinin sektörel ve <strong>geniş müşteri tabanı</strong> deneyimleri ile çalıştığımız alanlarda <strong>yeni standartlar</strong> belirliyoruz.
      </p>
      <p class="mt-4">
        Bir sorununuz veya yenilikçi çözümlere ihtiyacınız varsa; ayrıca <strong>keyifli</strong> ve <strong>sorunsuz bir proje deneyimi</strong> istiyorsanız lütfen bizimle <strong>iletişime geçmekten</strong> çekinmeyin.
      </p>
    </div>
  </div>
</div>
